body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    border: 5px solid #e08d3c;
    height: 100vh;
    background-image: linear-gradient(to right, white , rgb(223, 146, 101), white);
    color: #333;
    transition: background-color 0.5s;
}
header {
    padding: 10px;
    text-align: left;
    background: #e08d3c;
    color: white;
    font-size: 15px;
}
button {
    height: 30px;
    border: 0px;
    border-radius: 10px;
    display: block;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-family: "Verdana";
}

.buttons a{
    text-decoration: none;
    color: black;
}

.buttons {
    display: flex;
}
h2 {
    text-align: center;
    padding: 10px;
}

h3 {
    padding: 10px;
    text-align: center;
}
#pageTitle {
    padding: 10px;
    text-align: left;
}

.menu{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
form{
    padding-left: 10px;
}
p{
    padding-left: 10px;
    font-weight: bold;
}
.calculators {
    display: flex;
    text-align: center;
}
  
.calculators .column {
    flex: 50%;
    padding: 5px;
}

.subtitles {
    display: flex;
    text-align: center;
}
  
.subtitles .column {
    flex: 50%;
    padding: 5px;
}

#contact .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}
#contact .input-row .input-group{
    flex-basis: 25%
}
#contact input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

#contact .container{
    width:40%;
    margin: 40px;
}
#contact .contact-box{
    background: #e08d3c;
    display: flex;
}
#contact .contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

#contact h1{
    margin-bottom:10px;
}
#contact .container p{
    margin-bottom:40px;
}
#contact textarea{
    width:100%;
    border:1px solid #ccc;
    outline: none;
    padding: 25px;
    box-sizing: border-box;
}

#contact label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
#contact button{
    background:#fff;
    width: 100px;
    border: none;
    outline: none;
    color: #e08d3c;
}
